table,
th,
td {
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 2px 2px 2px;
}
th{
    font-weight: normal;
}
@media print {
    @page {
        max-height: 100%;
        border: 2px solid black;
        margin-top: 0;
        margin-bottom: 0;
    }
}